<footer class="footer">
  <div class="container text-center">
    <small>Written by <strong><a href="mailto:karlisidornygren@gmail.com">Isidor Nygren</a></strong>
    For the course Student Conference in Computing Science at Umeå University 2017</small>
    <br>
    <small>license: <a href="https://opensource.org/licenses/MIT">MIT</a> | <a href="https://github.com/isidornygren/synestesic-test">source code</a></small>
  </div>
</footer>
