html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  font-family: 'Nunito', sans-serif;
}
#header{
  margin:1rem;
}
#jumbotron-main{
  background-color:#FFF;
  background-image: url("../img/stock_photo.jpg");
  background-size:cover;
  border: .05rem solid #e5e5e5;
}
#test-info-box{
  position:absolute;
  top:0;
  left:0;
  text-align:left;
  font-size:75%;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding-bottom:10px;
  color: #888;
}
.heading{
}
.content{
  border-top: .05rem solid #e5e5e5;
  border-bottom: .05rem solid #e5e5e5;
  padding:1rem;
}
.left-controls{
  float:left;
}
.right-controls{
  float:right;
  height:40px;
  line-height:40px;
}
#testing{
  width:100%;
  display:inline-block;
}
#testing-controls{
  width:512px;
  padding-top:16px;
  display:inline-block;
}
#testing-area{
  height: 512px;
  width: 512px;
  border: 1px solid #ababab;
  display:inline-block;
  background-image: url("../img/test-bg.png");
}
#testing-info{
  display:inline-block;
}
#game-info{
  width:512px;
  float: none;
  margin:auto;
  vertical-align: top;
}
@media screen and (min-width: 48em){
  .container-narrow{
      max-width: 46rem;
  }
}
