<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/header %>
    <div class="container container-narrow">
      <div class="content">
        <div id="jumbotron-main" class="jumbotron text-center">
          <p>
              <a class="btn btn-lg btn-secondary" href="/info" role="button">Take me to the test</a>
          </p>
        </div>
        <div class="row">
          <div class="col-md-4">
          <h4>Links</h4>
          <ul>
            <li><a href="https://www.umu.se/">University website</a></li>
            <li><a href="https://www.umu.se/utbildning/kurser/student-conference-in-computing-science/">Course page</a></li>
            <li><a href="https://github.com/isidornygren/synestesic-test">Source code</a></li>
            <li><a href="http://isidor.co.uk/">Creators website</a></li>
            <li><a href="exports/exported_data.xlsx">Collected data</a></li>
          </ul>
        </div>
        <div class="col-md-8">
          <h4>Information</h4>
          <p>This experiment was created for the course Student conference in Computing Science at Umeå University by Isidor Nygren, who is currently studying Interaction &amp; Design master program in the same university.</p>
          <p>The objective of the test is to see if there is a functional link between frequency and amplitude modulation in conjunction with 2D positioned objects on a plane. And as a part of this test, you will press a series of buttons with a variable sound playing in the background whilst your timing and method will be recorded and stored.</p>
        </div>
        </div>
      </div>
    </div>
    <% include ../partials/footer %>
  </body>
</html>
